# Dependencias
node_modules/

# Archivos de entorno
.env

# Archivos de configuración del IDE
.vs/

# Archivos de compilación / caché
uploads/

# Archivos específicos del proyecto
Dependencias.dat
#iniciar.bat
package-lock.json

# Archivos de configuración de Babel (opcional, si no quieres trackear cambios locales)
.babelrc
dist/
